
.container{
    width: 100%;
    position: fixed;
    height: 100%;
    background: -webkit-linear-gradient(to left, #4298f4, #47067a);
    background: linear-gradient(to left, #4298f4, #47067a	);
    color: white;
}

.ticketDetails{
float: left;
width: 50%;
height: 100%;
overflow-y: visible;
overflow-x: hidden;
padding: 25px;
color: black;
}

h3{
 text-align: center;
 padding: 15px;
}

h1{
    color:white;
}

#ticketList {
float: right;
padding: 5px;
width: 50%;
height: 100%;
overflow-y: scroll;
margin-bottom: 10px;

}
