
.container{
    width: 100%;
    position: fixed;
    height: 100%;
    background-color: darkgrey;
    color: white;
}

.ticketDetails{
float: left;
width: 50%;
height: 100%;
overflow-y: visible;
overflow-x: hidden;
padding: 25px;
color: black;
}

h3{
 text-align: center;
 padding: 15px;
}

h1{
    color:white;
    text-align: center;
}



#ticketList {
float: right;
padding: 5px;
width: 50%;
height: 100%;
overflow-y: scroll;
margin-bottom: 10px;

}
