
.container{
    width: 100%;
    position: fixed;
    height: 100%;
    background-color: #616161;
    margin: 0px;
    padding: 0px;
}

.ticketDetails{
float: left;
width: 50%;
height: 38em;
overflow-y: hidden;
overflow-x: hidden;
padding: 25px;
text-align: center;
color: white;
border-left: white 1px solid;

}

h3{
 text-align: center;
 padding: 15px;

}


#ticketList {
    float: right;
    padding: 0px;
    width: 50%;
    height: 100%;
    overflow-y: scroll;
    margin-bottom: 10px;

}
