label {
    font-size: 30px;
    color: white;
}

form {
    padding: 20px;
}

input {
    display: inline;
    padding: 5px;
    width: 100%;
}

#price {
    width: 100px;
}

h4 {
    color: white;
}

h3{
    padding: 0;
}


.sebm-google-map-container {
    height: 300px;
}

.container{
    color: white;
    background: rgba(0,0,0,0.5);
    width: 100%;
    overflow-y: scroll;
    height: 92%;
}

label{
    font-size: 2em;
}