<div class="container">
    <br>
    <div *ngIf='this.eventService.activeEvent != null'>
    <p *ngFor="let s of this.eventService.activeEvent.split(';')"> {{ s }} </p>
    </div>
    <h3>Please enter your information: </h3>
    <div class="form-group">
        <label> Address </label>
        <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">
    </div>
    <sebm-google-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
        <sebm-google-map-marker [latitude]="latitude" [longitude]="longitude"></sebm-google-map-marker>
    </sebm-google-map>

    <label>Price</label>
    <div class="input-group">
        <span class="input-group-addon">$</span>
        <input [(ngModel)]='price' id="price" type="number" class="form-control" placeholder="Price" min="0.01" step="0.01" max="2500" />
    </div>

    <button (click)="onSubmit()" class="btn btn-primary"> Submit </button>
    <a [routerLink]="['./']">
        <button class="btn btn-mbe-normal" (click)="onBack()"> Back </button>
    </a>


</div>