ul {
    padding: 0px;
    margin: 0px;

}
#bar {
}

.eventList {
    padding-bottom: 40px;
    width: 100%;
}

.well well-sm{
    background:rgba(0,0,0,0.3);
}

footer{
    color: white;
    background-color: darkslategray;
}

.header{
    width: 100%;
    text-align: center;
    margin-top: 0.55em;
    
    background-color: #222222;
}
.headerColumn {
    background-color: #222222;
}

.headerColumn:hover {
    background-color: grey;
}

h2{
    color: white;
    background-color: darkslategray;
    margin-top: 0.55em;
}

h5{
    font-family: "Times New Roman", Times, serif;
}

table {
    background-color: darkslategrey;
    padding-bottom: 40px;
    text-align: left;
    width: 100%;
    text-align: center;

}

th {
    
}
tr {

    background-color: darkslategrey;
    
}

tr:hover {
   background: rgba(0,0,0,0.4);

    
}

td {
    color: white;
    text-align: center;
    overflow: hidden;
    height: 50px;
    background: rgba(0,0,0,0.4);
    width: 100%;
}