
<div class="eventList">
  <h2> Event Lists </h2>
  <input id="bar" type="text" name="search" [(ngModel)]="this.searchTerm" (ngModelChange)="this.eventService.search(searchTerm)" placeholder="Search..">
    
  <ul class="list-group"  *ngFor="let event of eventService.eventListModel" >
    <a [routerLink] = "['/Browse',event.id.toString()]">
      <li class="list-group-item" (click)="eventClicked(event)"> 
        <p><b>{{event.displayName}}</b> <br> <h6> {{event.date}}, {{event.city}}</h6> <p> 
      </li>
    </a>
  </ul>

</div>