ul{
    padding: 0px;
    margin: 0px;
    
}

.list-group-item:hover{
    background-color: darkslategray;
    padding: 10px;
}

.list-group-item{
    padding: 0px;
    margin: 0px;
    border-radius: 0px;
    background-color: #616161;
    color: white;
    border-color: #424242;

}

.eventList{

padding-bottom: 40px;


}