ul {
    padding: 0px;
    margin: 0px;
    width: 100%;
}

.list-group-item:hover {
    background-color: darkslategray;
    padding: 10px;
    font-size: 12pt;
}

.list-group-item {
    padding: 5px;
    margin: 0px;
    border-radius: 0px;
    background: rgba(0, 0, 0, 0.4);
    color: white;
    border-color: #424242;
    text-align: center;
    width: 100%;
}