<div class="container">

    <p id="prompt">Available tickets at this event: {{ toString()}} </p>
    <br>


     <br>

    <div class="ticketList">
        <app-ticket-list></app-ticket-list>
    </div>

    <ul class="list-group" *ngFor="let listing of availableListings">
        <li class="list-group-item" (dblclick)='buyTicket(listing)'>
            User: {{ listing.owner.substring(0,5) }} Price: ${{ listing.price }}
        </li>

    </ul>
    <br>
    <a [routerLink]="['.']">
        <button class="btn btn-mbe-normal" (click)="onClick()"> Back </button>
    </a>
    <br>


</div>