
.ticketList {

  padding-bottom: 40px;
}

/*.header{

position: fixed;
width: 50%;
height: 10%;
}


#prompt {
    color: white;
    text-align: center;

   
}

.button{

float: left;

}

*/

.container {
    color: white;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    
    
}

ul {
    padding: 0px;
    margin: 0px;
    width: 100%;
}

.list-group-item:hover {
    background-color: darkslategray;
    padding: 10px;
}

.list-group-item {
    padding: 0px;
    margin: 0px;
    border-radius: 0px;
    background: rgba(0, 0, 0, 0.4);
    color: white;
    border-color: #424242;
    text-align: center;
    width: 100%;
}
