<div class="container">



<div class ="header">
 <br>
<div class ="button">
 <a [routerLink]="['.']">
        <button class="btn btn-mbe-normal" (click)="onClick()"> Back </button>
    </a>
</div>
     <br>
 <p id="prompt">Available tickets at this event: {{ toString()}} </p>
</div>



    <div class="ticketList">
        <app-ticket-list></app-ticket-list>
        
         <ul class="list-group" *ngFor="let listing of availableListings">
        <li class="list-group-item" >
            User: {{ listing.owner.substring(0,5) }} Price: ${{ listing.price }}
            <div class="text-right" style="margin-top: -35px">
                <button id ="style" class="btn btn-mbe-normal" (dblclick)='buyTicket(listing)'> Buy </button>
            </div>
        </li>

    </ul>

    </div>

  
    
</div>