<app-menu-bar></app-menu-bar>
<div class="container-fluid bg-1 text-center">
  <h3 class="margin">Are you looking for an event ticket?</h3>
  <img src="../assets/main_logo_1.png" class="img-responsive img-circle margin" style="display:inline" alt="Logo" width="250" height="250">
  <h3> You're at the right place </h3>
</div>

<!-- Second Container -->
<div class="container-fluid bg-2 text-center">
  <h3 class="margin">What we do ?</h3>
  <p>We help people sell and buy upcoming event tickets in local San Jose area. Start searching now!</p>
  <a href="Browse" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-search"></span> Search Events
  </a>
</div>

<app-footer></app-footer>