<div id='instructions' class='leftFrame' *ngIf='!this.eventService.activeEvent'>

    <h1> Browse </h1>
    <p> Use the search bar to filter events by name</p>
    <p> Click the column headers to sort the list </p>
    <p> Click an event to get more details </p>

</div>

<div id='eventInformation' class="panel panel-default" *ngIf='this.eventService.activeEvent'>
    <div id="text" class="panel-heading">
        <h1> Details</h1>
    </div>
    <div class="panel-body">
        <a href="http://www.freepik.com/free-vector/event-remember-background-design_1016179.htm">
        <img class="animated bounce infinite" src = "../assets/event_pic.png" alt="event pic" height="30%" width="30%"></a>
        <br><br>
        <div *ngFor="let s of this.eventService.activeEvent.split(';')">
            {{ s }} <br/>
        </div>
    
    <br>
    <div>
    <a [routerLink] = "['./buy']" class="btn btn-default btn-md">
        <span class="glyphicon glyphicon-arrow-down"></span> Buy
    </a>
    <a [routerLink] = "['./sell']" class="btn btn-default btn-md">
        <span class="glyphicon glyphicon-arrow-up"></span> Sell
    </a>
    </div>
    <br>
    <div id="sklogo">
 <a href="http://www.songkick.com/">
     <img src="../assets/sk-badge-white.svg" alt="Songkick's' logo" height="45">
     <img src="../assets/powered-by-songkick-white.png" alt="Songkick's' logo" height="40">
 </a>
    </div>

    </div>

</div>

<hr>
<div>
<router-outlet></router-outlet>
</div>