.leftFrame {
    text-align: center;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.panel{
    background: rgba(0,0,0,0.0);
    border-style: hidden;
    height: 100%;
}
.panel panel-default{
    background: rgba(0,0,0,0.4);
    height: 100%;
}

.panel-body{
    text-align: center;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    background: rgba(0,0,0,0.0);
}


