<div id='instructions' class='leftFrame' *ngIf='!this.eventService.activeEvent'>

    <h1> Instructions </h1>
    <p> Here we will provide instructions for the user so they will know how to use our application. </p>

</div>

<div id='eventInformation' class="panel panel-default" *ngIf='this.eventService.activeEvent'>
    <div id="text" class="panel-heading">
        <h1> Details</h1>
    </div>
    <div class="panel-body">
        <a href="http://www.freepik.com/free-vector/event-remember-background-design_1016179.htm">
        <img src = "../assets/event_pic.png" alt="event pic" height="30%" width="30%"></a>
        <br><br>
        <div *ngFor="let s of this.eventService.activeEvent.split(';')">
            {{ s }} <br/>
        </div>
    
    
    <br>
    <a [routerLink] = "['./buy']">
        <button class="btn btn-primary" (click)='buyButtonClicked()'>Buy</button>
    </a>
     <a [routerLink] = "['./sell']">
        <button class="btn btn-danger" (click)='sellButtonClicked()'>Sell</button>
     </a>
     

    <br><br>
    <div id="sklogo">
 <a href="http://www.songkick.com/">
     <img src="../assets/sk-badge-pink.svg" alt="Songkick's' logo" height="45">
     <img src="../assets/powered-by-songkick-pink.png" alt="Songkick's' logo" height="40">
 </a>
    </div>

    </div>

</div>

<hr>
<router-outlet></router-outlet>