


<h1> Account Info </h1>

<h1> Credits: $  </h1>


<br> 
 <button class="btn btn-mbe-normal" (click)="onClick()"> Back </button>
 <br>

<h1> Transaction history </h1>
 <button class="btn btn-mbe-normal" (click)="onClick()"> Transaction History </button>


<div class= "THcomponent" >

  <button class="btn btn-mbe-normal" (click)="onClick()"> Current Selling tickets </button>
<h1> Active Tickets (for this use only </h1> 
 <button class="btn btn-mbe-normal" (click)="onClick()"> Sold Tickets </button>
<h1> Tickets Sold (Transaction History) </h1>
 <button class="btn btn-mbe-normal" (click)="onClick()"> Purchased Tickets </button>
<h1> Past Purachases (Transaction history) </h1>
</div>


<br>
<h1> Credit Card Info </h1>

 <button class="btn btn-mbe-normal" (click)="onClick()"> CHANGE CC INFO </button>

