.container {
    width: 100%;
    position: fixed;
    height: 100%;
    background: url("bg-pattern.png"), -webkit-linear-gradient(to right, #4298f4, #8b41f4);
    background: url("bg-pattern.png"), linear-gradient(to right, #4298f4, #47067a	);
    margin: 0px;
    padding: 0px;
    padding-bottom: 0px;
}


#eventList {
    float: right;
    padding: 0px;
    width: 50%;
    height: 100%;
    overflow-y: scroll;
    margin: 0px;
    padding-bottom: 50px;
}

app-ticket-info {
    float: left;
    width: 50%;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 0px;
    color: white;
    /*border-left: white 1px solid; */
}

app-footer{
    position: fixed;
    bottom: 0;
    width: 100%
}

#text {
    text-align: center;
    padding: 5em;
}



