<app-menu-bar></app-menu-bar>
 <app-search-bar></app-search-bar>

<div class="container">


    <app-ticket-info> </app-ticket-info>

    <div id="eventList">
        <app-event-list class='rightFrame' *ngIf='this.eventService.transactionInProgress == "browse"'></app-event-list>
        <!--app-buy class='rightFrame' *ngIf='this.eventService.transactionInProgress == "buy" '></app-buy-->
        <!--app-sell class='rightFrame' *ngIf='this.eventService.transactionInProgress == "sell"'></app-sell-->
        <app-buy class='rightFrame' *ngIf='this.eventService.transactionInProgress == "NA" '></app-buy>
        <app-sell class='rightFrame' *ngIf='this.eventService.transactionInProgress == "NA"'></app-sell>
        <router-outlet></router-outlet>
    </div>
</div>