<form class="form-horizontal" [formGroup]="form">
  <div class="form-group">
    <label class="control-label col-sm-2">First name:</label>
    <div class="col-sm-10">
      <input formControlName="firstName" placeholder="Enter your first name">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2">Last Name:</label>
    <div class="col-sm-10">
      <input formControlName="lastName" placeholder="Enter your last name">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2">Billing Address:</label>
    <div class="col-sm-10"> 
      <input formControlName="billingAdress" placeholder="Enter your billing address">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2">City:</label>
    <div class="col-sm-10"> 
      <input formControlName="city" placeholder="Enter the city">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2">Zip code:</label>
    <div class="col-sm-10"> 
      <input formControlName="zipCode" placeholder="Enter your zip code">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2">Card no:</label>
    <div class="col-sm-10">
      <input formControlName="cardNo" placeholder="Enter your credit card number">
    </div>
  </div>
   <div class="form-group">
    <label class="control-label col-sm-2">security code:</label>
    <div class="col-sm-10">
      <input formControlName="secCode" placeholder="Enter your credit card security code">
    </div>
  </div>
   <div class="form-group">
    <label class="control-label col-sm-2">expiration month:</label>
    <div class="col-sm-10">
       <input formControlName="exMon" placeholder="Enter your credit card expiration month">
    </div>
  </div>
   <div class="form-group">
    <label class="control-label col-sm-2">expiration year:</label>
    <div class="col-sm-10">
      <input formControlName="exYear" placeholder="Enter your credit card expiration year">
    </div>
  </div>
  <div class="form-group"> 
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-success" (click)="onSubmit()">Submit</button>
    </div>
  </div>
</form>
<p>form: {{form.value | json}}</p>
<hr>